* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: #0e3fa9;
  color: #ffa903;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h2 {
  color: #ffa903;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 3rem 0;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}

header, footer {
  background: #ffa903;
  color: #0e3fa9;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.img-logo {
  width: 10%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo, .header-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  padding: 2rem;
}

.header-nav ul, footer .footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

footer p {
  margin: 15px;
}

.footer-list li {
  padding: 1rem;
}

.footer-list img {
  width: 5rem;
  padding: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */
.p {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.contenedor-tarjetas {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: #ffa903;
  color: #0e3fa9;
  width: 40rem;
  margin: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  padding-bottom: 2rem;

  border-radius: 1rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 60rem;
  object-fit: cover;
}

.card p {
  margin: 5px;
}

.card .btn {
  margin: 10px;
  background-color: #0e3fa9;
  color: #ffa903;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;

  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); */
}

.formulario .btn {
  margin: 10px;
  background-color: #ffa903;
  color: #0e3fa9;
}

/* -------------------------------------------------------------------------- */
/*                               MEDIA QUERIES                                */
/* -------------------------------------------------------------------------- */
@media (max-width: 600px) {
  header, footer {
    flex-direction: column;
  }
}